/* variável global :root
no caso, setado para cor */
:root {
    --title-color: #322153;
    --primary-color: #34cb79;
    --hover-color: #2fb86e;
}

* {
    margin: 0;
    padding: 0;
    /* border-box: ajusta o tamanha da caixa 
    e padding para o tamanho da caixa em max-width  */
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: lightgrey;
    -webkit-font-smoothing: antialiased;
}
/* BOX MODEL
Toda caixa tem:
- altura, largura, cor, 
alinhamento
posicionamento
*/
a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Ubuntu, sans-serif;
    color: var(--title-color);
}
